<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<body>
<div class="table-data">
    <h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Item ID</th>
            <th>Item Type</th>
            <th>Item Location</th>
            <th>Edit</th>
            <th>Claim</th>
        </tr>

        <%
        if(userData.length!=0){
            var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.item_id %></td>
            <td><%=data.item_type %></td>
            <td><%=data.item_loc_found %></td>
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Claim</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
</div>
<h2>Add an Item</h2>
<p>Click on the "Open Form" button to add an item</p>
<div class="openBtn">
    <button class="openButton" onclick="openForm()"><strong>Open Form</strong></button>
</div>
<div class="AddItemPopUp0">
    <div class="formPopup" id="popupForm">
        <form  class="formContainer">
            <h2>Item Details</h2>
            <label for="email">
                <strong>E-mail</strong>
            </label>
            <input type="text" id="email" placeholder="Your Email" name="email" required>
            <label for="psw">
                <strong>Password</strong>
            </label>
            <input type="password" id="psw" placeholder="Your Password" name="psw" required>
            <button type="submit" class="btn">Log in</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
<script>
    openForm();
    function openForm() {
        document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }

</script>
</body>
</html>