<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<body>
<div class="table-data">
    <h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Item ID</th>
            <th>Item Type</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Officer Last Name</th>
            <th>Officer Badge Number</th>
        </tr>

        <%
        if(userData.length!=0){
            var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.ItemID %></td>
            <td><%=data.CategoryName %></td>
            <td><%=data.ItemName %></td>
            <td><%=data.ItemDesc %></td>
            <td><%=data.Value %></td>
            <td><%=data.Location %></td>
            <td><%=data.Date %></td>
            <td><%=data.Time %></td>
            <td><%=data.Officer_Lname %></td>
            <td><%=data.BadgeNumber %></td>
            <td><a href="/users/delete/<%=data.id%>">Claim</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
</div>



</body>
</html>